.outer-most-container-event{
    width: 100%;
    height: 100vh;
    background-color: rgb(248, 248, 248);
    /* border-top: 1px solid lightgray; */
    margin-top: 10px;
    box-shadow: 0px 0px 3px lightgray;
    -moz-box-shadow-bottom: 4px 0px 70px black;
    -webkit-box-shadow-bottom: 4px 0px 70px black;
    font-family: Arial, Helvetica, sans-serif;
}
.main-container-event{
    width: 68%;
    margin-left:16%;
    margin-right: 5%;
    justify-content: space-between;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.upper-div-event{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;

}
#p-event{
    width: 96%;
    margin-bottom: auto;
}

#span-event{
    border: 1px solid #ccc;
    background-color: #ccc;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;  
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 17px;
    line-height: 41px;
}

#a-event{
    margin-left: 60px;
    margin-top: -50px;
    color: rgb(48, 211, 240);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.button-event{
    width: 170px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    margin-right: 10px;
    /* border: 1px solid rgb(0, 107, 255); */
    border: 1px solid #ef6234;
    outline: none;
    /* color: rgb(0, 107, 255); */
    color: #ef6234;

}

.lower-div-event{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(202, 202, 202);
    margin-top: 50px;
}

.meeting{
    border: 1px solid rgb(202, 202, 202);
    width: 30%;
    height: 230px;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
}
.meeting:hover{
    transition: ease-out 2s ;
}

#_15{
    border-top: 5px solid rgb(225, 120, 246);
}

#_30{
    /* border-top: 5px solid yellow; */
    background-color: lightgray;
}

#_60{
    /* border-top: 5px solid red; */
    background-color: lightgray;
}