@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.signupwithpwd-verify{
    width: 49%;
    /* background-color: aquamarine; */
    margin-left: 25.5%;
    margin-top: 5.5%;
    display: block;
    justify-content: center;
    text-align: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}

#p-signupwithpwd-verify{
    font-size: 22px;
    font-weight: 300;
    color: rgb(53, 53, 53);
    padding-top: 10px;
    padding-bottom: 15px;    
}

#last-p-signupwithpwd-verify{
    margin-top: 25px;
    font-size: 16px;
    font-weight: 300;
    color: #1A1A1A;
}

#email-signup-verify{
    font-weight: 500;
}