.signupwithpwd{
    width: 30%;
    /* background-color: aquamarine; */
    margin-left: 35%;
    margin-top: 5.5%;
    display: block;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#p-signupwithpwd{
    font-size: 18px;
    color: rgb(100, 100, 100);
    padding-top: 10px;
    padding-bottom: 8px;
}

.inner-signupwithpwd{
    border: 1px solid rgb(226, 225, 225);
    border-radius: 8px;
    text-align: left;
    padding-left: 30px;
    margin-top: 4%;
    height: 440px;
    width: 410px;
}
.input-signupwithpwd{
    height: 42px;
    width: 88%;
    border-radius: 10px;
    border: 1px solid lightgray;
    outline: lightgray;
    font-size: 15px;
    padding-left: 15px;
    /* background-color: rgb(220, 239, 246); */
}
.input-signupwithpwd::placeholder{
    color: lightgray;
    font-weight: 100;
}

#button-signupwithpwd{
    height: 45px;
    width: 90px;
    /* background-color: rgb(0, 107, 255); */
    background-color: #ef6234;
    color: white;
    border-radius:22px;
    outline: none;
    /* border: 1px solid rgb(0, 107, 255); */
    border: 1px solid #ef6234;
    /* font-weight:100; */
    cursor: pointer;
    margin-top: 7%;
    margin-right: 5%;
    font-size: 14px;
    font-weight: 100;
    float: right;
}

#last-p-signupwithpwd{
    margin-top: 25px;
    font-size: 11.5px;
    color: rgb(71, 71, 71);
}