@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color:#fbfcfd; 
}
.outerdiv-meetingConf{
    width: 75%;
    height: 670px;
    display: flex;
    flex-direction: row;
    margin-left: 13%;
    margin-right: 20%;
    margin-top: 70px;
    border: 1px solid #e9e9e9;
    border-radius: 8px;
    background-color:#ffffff;
    box-shadow: 20px 20px 50px #e9e9e9;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.sub-container-meetingConf{
    width: 45%;
    margin-left: 25%;   
    margin-top: 30px;
    
}

.upper-div-meetingConf{
    margin-left: 8%;
    margin-bottom: 10px;
    text-align: center;
}

#h3-meetingConf{
    font-weight: 400;    
}

#p-meetingConf{
    font-weight: 300; 
}

.lower-div-meetingConf{
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    text-align: left;
    margin-left: 8%;
    margin-top: -5px;
    
}
#event-string-h4-meetingConf{
    font-size: 20px;
    font-weight: 500;
    height: 12px;
}

#event-string-p-meetingConf{
    color: #5ac8a4;
    height: 12px;
}

#time-zone-meetingConf{
    color: #767676;
    height: 12px;
    padding-top: 10px;
}

#event-string-h5-meetingConf{
    height: 12px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 400;

}

#back-link-p-meetingConf{
    /* color: #5ac8a4; */
    /* color: rgb(0, 107, 255); */
    color: #ef6234;
    height: 16px;
    margin-left: 30%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
#back-link-p-meetingConf:hover{
    color: hotpink;
}